<!DOCTYPE html>
<html lang="nl">
<head>
    <!-- Vereiste meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <meta name="description" content="Dit is een pokemon app waarin je alle pokemons kan zien en kan zoeken.">
    <meta name="msapplication-TileColor" content="white">
    <meta name="theme-color" content="ghostwhite">
    <link rel="icon" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="manifest" href="manifest.json">

    <!-- Material.io bestanden (CSS & Font/icons)-->
    <!-- Uitleg werking componenents: https://material.io/components?platform=web -->
    <!-- Demo van components:         https://material-components.github.io/material-components-web-catalog/#/ -->
    <!-- Demo en uitleg icons:        https://fonts.google.com/icons?selected=Material+Icons -->
    <link rel="stylesheet" href="imports/import.css"> 
    <link rel="stylesheet" href="style.css">
    <script defer type="module" src="imports/import.js"></script>
    <script defer type="module" src="../controller/controller.js"></script>
</head>
<body>
 <!-- HTML web-elementen -->   

 <header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button hamburger-menu-btn" aria-label="Open navigation menu">menu</button>
        <img class="mdc-top-app-bar__logo" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="Pokemon Logo">
        <span class="mdc-top-app-bar__title mdc-top-app-bar__title-action">PokéDex</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">

        <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label hidden" style="display: none;">
            <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input class="mdc-text-field__input search-input-mdc-text-field" type="text" aria-label="Label">
          </label>

        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button mdc-top-app-bar-search-button" aria-label="Search">search</button>

      </section>
    </div>

    <div id="results"></div>
  </header>
  
  <section class="sheet-hamburger-menu sheet-out-of-view-hamburger">
    <button class="button-menu mdc-top-app-bar__title-action">
      Home
    </button>
    <br>
    <button class="button-menu favorites-button">
      Favorites
    </button>
    <br>
    <button class="button-menu types-button">
      Types
    </button>
  </section>
  <main class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
          <div class="mdc-tab-scroller__scroll-content">
            <button class="mdc-tab favorites-button" role="tab" aria-selected="false" tabindex="0">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true"></span>
                <span class="mdc-tab__text-label">Favorites</span>
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>

            <button class="mdc-tab types-button" role="tab" aria-selected="false" tabindex="1">
              <span class="mdc-tab__content">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">type</span>
                <span class="mdc-tab__text-label">Types</span>
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list"></ul>

    <footer>
      <div class="mdc-tab-bar tab-bar-bottom-custom" role="tablist">
        <div class="mdc-tab-scroller">
          <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
    
              <button class="mdc-tab back-mdc-tab-bottom-btn" role="tab" aria-selected="true" tabindex="0">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">navigate_before</span>
                </span>
                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
    
              <button class="mdc-tab favorites-button favorite-mdc-tab-bottom-btn" role="tab" aria-selected="false" tabindex="-1">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">favorite</span>
                </span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
    
              <button class="mdc-tab next-mdc-tab-bottom-btn" role="tab" aria-selected="false" tabindex="-1">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">navigate_next</span>
                </span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
    
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  </main>

  <section class="sheet-favorites sheet-out-of-view-favorites">
    <ul class="mdc-image-list mdc-image-list--masonry my-masonry-favorites-image-list"></ul>
  </section>

  <section class="sheet-types sheet-out-of-view-types">
    <div id="typeResultsContainer"></div>

    <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list-for-type"></ul>

    <footer class="type-footer hidden">
      <div class="mdc-tab-bar tab-bar-bottom-custom" role="tablist">
        <div class="mdc-tab-scroller">
          <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
    
              <button class="mdc-tab back-mdc-tab-type-btn" role="tab" aria-selected="true" tabindex="0">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">navigate_before</span>
                </span>
                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
    
              <button class="mdc-tab favorite-mdc-tab-type-btn" role="tab" aria-selected="false" tabindex="-1">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">favorite</span>
                </span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
    
              <button class="mdc-tab next-mdc-tab-type-btn" role="tab" aria-selected="false" tabindex="-1">
                <span class="mdc-tab__content">
                  <span class="mdc-tab__icon material-icons" aria-hidden="true">navigate_next</span>
                </span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </button>
    
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>

    <section class="sheet sheet-out-of-view">
      <img class="pokemonMainImg">
      <h1 class="pokemon-name"></h1>

      <p class="pokemon-data">
        <span class="pokemon-height"></span><br>
        <span class="pokemon-weight"></span><br>
        <span class="pokemon-types"></span><br>
        <span class="pokemon-experience"></span>
      </p>

      <footer>
        <div class="mdc-tab-bar tab-bar-bottom-custom-section" role="tablist">
          <div class="mdc-tab-scroller">
            <div class="mdc-tab-scroller__scroll-area">
              <div class="mdc-tab-scroller__scroll-content">
      
                <button class="mdc-tab back-mdc-tab-bottom-btn-section" role="tab" aria-selected="true" tabindex="0">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">navigate_before</span>
                  </span>
                  <span class="mdc-tab-indicator mdc-tab-indicator--active">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
      
                <button class="mdc-tab favorite-mdc-tab-bottom-btn-section" role="tab" aria-selected="false" tabindex="-1">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">favorite</span>
                  </span>
                  <span class="mdc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
      
                <button class="mdc-tab next-mdc-tab-bottom-btn-section" role="tab" aria-selected="false" tabindex="-1">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__icon material-icons" aria-hidden="true">navigate_next</span>
                  </span>
                  <span class="mdc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
      
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>

    <script>
      window.addEventListener("load", () => {
        if("serviceWorker" in navigator) {
          navigator.serviceWorker.register("service-worker.js");
        }
      });
    </script>
</body>
</html>