<!DOCTYPE html>
<html lang="nl">
<head>
    <!-- Vereiste meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unable to connect to the internet</title>

    <!-- Material.io bestanden (CSS & Font/icons)-->
    <!-- Uitleg werking componenents: https://material.io/components?platform=web -->
    <!-- Demo van components:         https://material-components.github.io/material-components-web-catalog/#/ -->
    <!-- Demo en uitleg icons:        https://fonts.google.com/icons?selected=Material+Icons -->
    <link rel="stylesheet" href="imports/import.css"> 
    <link rel="stylesheet" href="style.css">
    <script defer type="module" src="imports/import.js"></script>
    <script defer type="module" src="../controller/controller.js"></script>
    <style>
        .pokemon {
            width: 100%;
            position: fixed;
            top: 10%;
        }
        h1 {
            position: fixed;
            top: 70%;
            left: 20%;
            color: black;
        }
        red {
            color: rgb(220 38 38 / var(--tw-text-opacity, 1));
        }
    </style>
</head>
<body>
 <!-- HTML web-elementen -->   

 

  <img class="pokemon" src="images/offline.png" alt="Image of a pokemon">
  <h1><red>404:</red> No internet</h1>
</body>
</html>