:root {
  --mdc-theme-primary: white;
  --mdc-theme-accent: ghostwhite;
  --mdc-text-color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.mdc-top-app-bar {
  background-color: var(--mdc-theme-primary);
  border-bottom: 1px  solid var(--mdc-theme-accent);
  margin-bottom: 5px;
}

html {
  background-color: var(--mdc-theme-accent);
}

#results {
    display: flex;               
    flex-wrap: wrap;          
    gap: 0;                      
    margin: 0;
    padding: 0;
    z-index: 11000000000;
    position: fixed;
    top: 56px;
    width: 100%;
  }
  
.searchCards {
    padding: 10px;                  
    border-radius: 0;            
    width: 100%;             
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;       
    color: black;   
}

  .sheet {
    position: fixed;          
    bottom: 0px;
    left: 0;
    width: 100vw;
    min-height: calc(100vh - 56px);           
    background-color: var(--mdc-theme-accent);
    transform: translateY(-100%);  
    transition: transform 0.3s ease-in-out;
    z-index: 1000;            
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
  }
  
  .sheet-out-of-view {
    transform: translateY(-110%);
  }
  
  .sheet:not(.sheet-out-of-view) {
    transform: translateY(0);       
  }
  
  .pokemonMainImg {
    width: 70%;
    max-height: 50%;
    background-color: var(--mdc-text-color);
    border-radius: 50%;
  }

  .pokemon-name {
    font-family: 'Pokemon Solid';
    font-size: 300%;
  }

  .sheet-favorites {
    position: fixed;          
    top: 56px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 56px);           
    background-color: var(--mdc-theme-accent);
    transform: translateY(-100%);  
    transition: transform 0.3s ease-in-out;
    z-index: 1000;            
    overflow-y: auto;
  }

  .sheet-types {
    position: fixed;          
    top: 56px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 56px);           
    background-color: var(--mdc-theme-accent);
    transform: translateY(-100%);  
    transition: transform 0.3s ease-in-out;
    z-index: 1000;            
    overflow-y: auto;
  }

  .sheet-out-of-view-favorites {
    transform: translateY(-110%);
  }
  
  .sheet-favorites:not(.sheet-out-of-view-favorites) {
    transform: translateY(0);       
  }

  .sheet-out-of-view-types {
    transform: translateY(-110%);
  }
  
  .sheet-types:not(.sheet-out-of-view-types) {
    transform: translateY(0);       
  }

  .mdc-image-list--masonry,
  .my-masonry-favorites-image-list {
    column-count: 2;
    gap: 1em;
  }

  
  
  .tab-bar-bottom-custom {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--mdc-theme-primary);
    display: flex;
    justify-content: space-around;
  }

  .tab-bar-bottom-custom-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--mdc-theme-primary);
    
  }

.switchImagesBtn {
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

.disabled-button {
  opacity: 0.5;
  color: lightgray !important;
  pointer-events: none;
  cursor: default;
}

.hidden {
  display: none;
}

.sheet-hamburger-menu {
  position: fixed;          
  top: 56px;
  left: 0;
  width: 100vw;
  height: calc(40vh - 56px);           
  background-color: #ffffff;
  transform: translateY(-100%);  
  transition: transform 0.3s ease-in-out;
  z-index: 20000000;            
  overflow-y: auto;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sheet-hamburger-menu:not(.sheet-out-of-view-hamburger) {
  transform: translateY(0);       
}

.sheet-out-of-view-hamburger {
  transform: translateY(-130%);
}

.mdc-top-app-bar__title {
  color:  var(--mdc-text-color) !important;
}

button {
  color: black !important;
}

li {
  background-color: #fffeff;
  border: 1px  solid black;
  margin-bottom: 1em;
  display: flex;
}

.mdc-tab-bar {
  background-color: var(--mdc-theme-primary) !important;
}

footer .mdc-tab__icon {
  color: black !important;
}

.button-menu {
  background-color: var(--mdc-theme-primary) !important;
  color: var(--mdc-text-color) !important;
  border: 2px solid var(--mdc-text-color);
  border-radius: 10px;
  width: 80%;
  height: 25%;
  font-size: large;
  cursor: pointer;
}

#typeResultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
}

.typeCards {
  width: 40%;
  border: 2px solid var(--mdc-text-color);
  border-radius: 10px;
  font-size: larger;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background-color: #dd5656;
  transition: transform 0.2s, box-shadow 0.2s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mdc-text-field--no-label {
  height: 30px;
  width: 130px;
}

.pokemon-data {
  position: fixed;
  bottom: 11%;
}